body {
background-image: url("../../image/jim.jpg");
background-repeat: no-repeat;
background-size: 100%;
font-family: Helvetica;
}

#wrapper {
width: 80%;
max-width: 950px;
border: 1px gray solid;
margin: auto;
padding: 10px;
background-color: white;
border-radius: 10px;
}

#header {
margin-top: 0;
border: 2px solid black;
padding: 5px;
height: 250px;
background: beige;
background-image: url("../../image/jim.gif");
background-repeat: no-repeat;
background-size: 100% 100%;
color: white;
text-align: center;
text-shadow: 2px 2px black;
}

#quiz-location{
	font-size: 20pt;
}
button {
width: 100px;
margin-top: 20px;
}

#start {
	font-size: 20pt;
}
#gif{
	text-shadow: 2px 2px lightgrey;
	font-style: bold;
	font-size: 20pt;

}